<body>
    <div class="terminal-title">
        <h1>Cookie Factory's Protocl Terminal</h1>
        <p>Welcome to the cookie factory's process terminal.<p>
        <p>Click the terminal and follow the instructions.</p>
        <p>Reset the terminal by pressing run program.</p>
    </div>
    <div id="terminal"></div>
    <button onclick="window.location.reload()">Run Program</button>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>